# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

| Data Science Tools |
| Category          | Tools                               |
| :---------------- | :------------------------------------ |
| Data Management   | MySQL, PostgreSQL, MongoDB, Hadoop  |
| Data Integration  | Apache AirFlow, Kafka, NiFi         |
| Data Visualization| Tableau, Power BI, Matplotlib, Seaborn |
| Machine Learning  | Scikit-learn, TensorFlow, PyTorch   |
| Model Deployment  | Docker, Kubernetes, AWS SageMaker    |
| Code Asset Management | Git, GitHub, GitLab, Bitbucket |
| Notebooks | Jupyter, Zeppelin, RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
# This a simple arithmetic expression to mutiply then add integers.
(3 * 4) + 5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60.
200 / 60

3.3333333333333335

**Objectives:**
* List popular languages for Data Science.
* List commonly used libraries for Data Science.
* List Data Science Tools.
* Provide examples of arithmetic expressions in Python.
* Convert minutes to hours in Python.

## Author
Deep Kamal Maheshwari